@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;900&display=swap');

:root {
  --grey: #87879D;
  --white: #FAFAFA;
  --meet-blue-dark: #4D96A9;
  --meet-blue-darker: #28283D;
  --meet-blue-light: #71C0D4; 
  --meet-blue-lighter: #8FE3F9;
  --meet-purple-dark: #855FB1;
  --meet-purple-light: #B18BDD;
  --meet-purple-lighter: #D9B8FF;
}

* {
  box-sizing: border-box;
}

html { font-size: 10px; }

body {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.6rem;
}

p {
  font-size: 1.6rem;
  line-height: 2.6rem;
  margin-bottom: 25px;
  color: var(--grey);
}

h1 {
  font-size: 4rem;
  line-height: 4.4rem;
  color: var(--meet-blue-darker);
  font-weight: 900;
  margin-bottom: 15px;
}

h2 {
  font-size: 3.2rem; 
  font-weight: 900;
  font-size: 3.2rem;
  line-height: 3.6rem;
  margin-bottom: 30px;
}

/* ----- CUSTOM CLASSES ----- */
.container {
  max-width: 1440px;
  margin: auto;
  padding: 0 20px;
}

.center-text { text-align: center; }
.container-padding-x { 
  padding-right: 20px;
  padding-left: 20px;
}

.overline {
  text-transform: uppercase;
  color: var(--meet-blue-dark);
  letter-spacing: 0.4rem;
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 900;
  margin-bottom: 30px;
}

.step {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 150px auto 50px auto;
  height: 55px;
  width: 55px;
  border: 1px solid #D8D8D8;
  border-radius: 50%;
  color: var(--grey);
  position: relative;
  background-color: #fff;
}

.step:before {
  content: "";
  height: 94px;
  width: 1px;
  background-color: #D8D8D8;
  position: absolute;
  top: -94px;
  left: 50%;
  transform: translateX(-50%);
}

/* ----- BUTTONS ----- */
.btn {
  display: inline-block;
  font-weight: 900;
  border-radius: 50px;
  padding: 20px;
  text-decoration: none;
  color: #fff;
  font-size: 1.6rem;
  padding: 15px 30px;
}

.btn-primary { background-color: var(--meet-blue-dark); }
.btn-primary span { color: var(--meet-blue-lighter); }
.btn-primary:hover {
  background-color: var(--meet-blue-light);
}

.btn-secondary { background-color: var(--meet-purple-dark); }
.btn-secondary span { color: var(--meet-purple-lighter); }
.btn-secondary:hover {
  background-color: var(--meet-purple-light);
}

/* ----- HEADER ----- */
header .logo {
  text-align: center;
  margin: 40px 0;
}

.banner {
  display: flex;
  gap: 10px;
  margin-bottom: 40px;
}

.banner div {
  flex-basis: 50%;
  display: flex;
  align-items: center;
}

.banner div img {
  width: 100%;
}

.banner .tablet-hero {
  display: none;
}

.introduction {
  max-width: 500px;
  margin: auto;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons .btn-primary {
  margin-bottom: 15px;
}

/* ----- SHOWCASE ----- */
.showcase-pictures {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 60px;
}

.showcase-pictures > * {
  flex-basis: calc(50% - 20px);
  margin: 10px;
}

.showcase-pictures div img {
  width: 100%;
  border-radius: 10px;
}

/* ----- FOOTER ----- */
footer {
  color: #fff;
  background-image: url('../assets/mobile/image-footer.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: top;
  position: relative;
  padding-top: 100px;
  padding-bottom: 50px;
  margin-top: 180px;
}

footer:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--meet-blue-dark);
  height: 100%;
  width: 100%;
  opacity: 0.9;
}

footer > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 2;
}

footer p {
  color: #fff;
  font-size: 1.8rem;
}

.step-two {
  margin: 0;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
